In [ ]:
# How Machine Learning Works ?????
# Data Gathering ---› Data Dividation ---› Data Cleaning and Preprocessing ----›
# Select a ML model - -> Model training ---> Model Prediction ---> Model Perfornace Evaluation.
# Data(df) ---> x(Independent data) + y(Dependent or target data)
# × ---› x_train, x_test
# y ---> y_train, y_test

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/covid_toy (1).csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [ ]:
# df.isnull().sum()

In [ ]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [ ]:
# df.isnull().sum()

In [ ]:
df.shape

(100, 6)

In [ ]:
x = df.drop(columns= 'has_covid')   #independent data
x.shape

(100, 5)

In [ ]:
y = df['has_covid']    #target data
y.shape

(100,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train , y_test = train_test_split(x,
                                                   y,
                                                   test_size=0.2,
                                                   random_state=42)

In [ ]:
print("Total shape of df:", df.shape)
print("--------------------------------------")
print ("Input data shape:" , x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:" , x_test.shape)
print("--------------------------------------")
print ("Target data shape:", y.shape)
print("y_train data shape:", y_train.shape)
print("y_test data shape:" ,y_test.shape)
print("--------------------------------------")

Total shape of df: (100, 6)
--------------------------------------
Input data shape: (100, 5)
x_train data shape: (80, 5)
x_test data shape: (20, 5)
--------------------------------------
Target data shape: (100,)
y_train data shape: (80,)
y_test data shape: (20,)
--------------------------------------

In [ ]:
# df (100,6) = x(100,5) + y (100,1)
# x(100,5) = x_train(80,5) + x_test (20,5) |
# y (100,1) = y_train(80,1) + y_test (20,1)